
body{
    background-color:lightblue; /*background du body*/
}


h1{
    border: 1px solid black;/*1 pixel pour la bordure des h1, style solid, couleur noire*/
}


h2{
    color:purple;
}

input{
    border: 2px solid darkblue; /*style des tags input*/
}


div p{ /*tous les tags p qui sont dans les divisions*/
    background: lightyellow;
}


 #textblock{ /*l'id texblock qui est l'id d'une zone de texte*/
     border: 5px solid gray;
     width: 800px;
     height: 400px;
 }



a{/*tag lien avec texte cliquable*/
    color: red;
}


#itemone{ /*id d'un tag html*/
    text-decoration-line: overline;
    color: purple;
}


.exit{ /*la manniere de tagger les class de division html*/
    background: blue;
    border: 4px dashed yellow;
}

a:visited{/*si les lien a texte cliquable deja viste' les mettre en couleur bleue*/
    color: blue;
}

